
canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

main {
  width: 100vw;
  color: white;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px, 0 px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background: none;
  grid-column: 5 / 8;
  font-size: 2rem;
}


#intro h2 {
  text-shadow: 0 0 10px aliceblue;
  font-size: 3rem;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: none;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 20px;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: 20px;
}

p {
  font-size: x-large;
}

#video {
  display: none;
}

a {
  color: aliceblue;
  font-size: xxx-large;
  text-shadow: 0 0 10px white;

}

#link {
  grid-column: 4 / 12;
}

#goals {
  grid-column: 6 / 12;

}
